body{
    padding: 0;
    margin: 0;
    background-color: hsl(0, 0%, 85%);
    font-family: "Noto Serif", serif;
}

p{
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    font-size: 1.2rem;
}

.header{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: hsl(0, 0%, 95%);
    align-items: center;
    border-bottom: 6px solid hsl(355, 47%, 37%);
}

.headerBtn{
    text-decoration: none;
    background-color: transparent;
    background-repeat: no-repeat;
    overflow: hidden;
    color: hsl(0, 2%, 20%);
    font-weight: bold;
    font-size: 1.875rem;
    border: none;
    cursor: pointer;
}

.nav_link,
.nav_link:focus
{
    position: relative;
    transition: all 0.4s;
}

.nav_link:hover{
    color: hsla(0, 0%, 100%, 0.705);
}

.nav_link::after{
    content: '';
    height: 4px;
    width: 100%;
    background-color: hsl(209, 88%, 60%);
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: all 0.4s;
    pointer-events: none;
}

.nav_link:hover::after,
.nav_link:focus::after{
    opacity: 1;
}

.main{
    margin-top: 10vh;
    margin-left: 20vh;
    margin-right: 20vh;
    font-size: 1.3rem;
    pointer-events: none;
}

li{

    margin-left: 22vh;
}

#titulo{
    margin-left: 100vh;
    margin-right: 100vh;
    font-size: 4vh;
    pointer-events: none;
}

@media screen and (max-width: 600px)
{
    .headerBtn{
        font-size: 1rem;
    }
    .main{
        margin-left: auto;
        margin-right: auto;
    }
    #titulo{
        padding: 17px 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 28px;
    }
    p{
        padding: 1px 10px;
        margin-left: auto;
        margin-right: 10vh;
    }
    li{
        margin-left: 10vh;
        padding: 1px 5px;
    }
}